{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./app/javascript"]
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "minify": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
