%svg{ viewbox: '0 0 1008 1007.9467', xmlns: 'http://www.w3.org/2000/svg' }
  %g
    %path{ d: 'M 7016.07,543.93 H 5871.99 V 2033.91 H 5327.85 V 543.93 H 543.926 V 7015.64 H 7016.07 Z M 0,7559.56 V 0 H 7560 V 7559.56 H 0', transform: 'matrix(.13333 0 0 -.13333 0 1007.947)' }
    %path{ d: 'm 2379.58,4660.37 369.14,995.35 364.35,-995.35 z m 669,1573.8 H 2448.63 L 1337.78,3374.07 h 574.32 l 300.08,802.09 h 1076.99 l 295.52,-802.09 h 574.98 l -1111.09,2860.1', :transform => 'matrix(.13333 0 0 -.13333 0 1007.947)' }
