.FairAutosuggest {
  margin: 0;
}

.FairAutosuggest ul.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 1px 0 0 0;
  padding: 0;
  /*height: 300px;*/
  /*background: red;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.FairAutosuggest li.react-autosuggest__suggestion {
  background: white;
  /*flex-basis: 50px;*/
  margin: 0 0 1px 0;
}

.FairAutosuggest li.react-autosuggest__suggestion--focused {
  background: purple;
  color: white;
}

.FairAutosuggest .FairSuggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FairAutosuggest .FairSuggestion {
  min-height: 2em;
}

.FairAutosuggest .FairSuggestion-name {
  flex: 1;
}
