// Bare minimum of *truly* global styles and resets

// font mixins

@mixin avant-garde($weight: 300) {
  // accepts weights of 100,300,400,600,700
  font-family:'ITC Avant Garde Gothic W01';
  font-weight: $weight;
}

@mixin garamond {
  font-family:'Adobe Garamond W08';
}

// box model reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// universal defaults

body {
  @include garamond;
}

input[type=text] {
  @include garamond;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @include garamond;
}

// header and logo

header {
  background: #333;
  height: 50px;
  position: relative;
}

#home {
  &__logo {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    svg {
      fill: #ddd;
    }
  }

  &__title {
    position: absolute;
    left: 55px;
    line-height: 50px;
    color: #ddd;
    @include avant-garde(400);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5pt;
  }

  &:hover &__logo svg {
    fill: white;
  }
  &:hover &__title {
    color: white;
    text-decoration: underline
  }
}

// animations

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
